PROJECT_NAME=
DATABASE_URL=postgresql+psycopg://postgresql:{nome_usuario}@localhost:{porta}/{nome_projeto}
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=
DEFAULT_RADIUS=
MAX_RADIUS=
BACKEND_CORS_ORIGINS=http://localhost:3000
