fastapi
uvicorn[standard]

SQLAlchemy
alembic

psycopg[binary]

geoalchemy2
shapely

pydantic
pydantic-settings

python-dotenv

passlib[bcrypt]
python-jose[cryptography]

email-validator

python-multipart

bcrypt==3.2.0
